/* General */
/* NavBar */
body {
  background-color: #7cefd1;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  line-height: 3rem;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.bt-navbar {
  background: #7cefd1;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 3000;
  box-shadow: 0 2px 2px -2px #000000;
}
@media (max-width: 515px) {
  .bt-navbar {
    flex-direction: column;
  }
}
.bt-navbar .bt-brand {
  color: #000;
  border: 2px solid black;
  padding: 10px;
}
@media (max-width: 515px) {
  .bt-navbar .bt-brand {
    margin-bottom: 15px;
  }
}
.bt-navbar .bt-brand:hover {
  color: #7cefd1;
  background-color: black;
}
.bt-navbar ul {
  list-style: none;
  display: flex;
}
.bt-navbar ul li {
  margin-right: 15px;
}
.bt-navbar ul li a {
  color: black;
  border: 2px solid black;
  padding: 10px;
}
.bt-navbar ul li a:hover {
  background-color: black;
  color: #7cefd1;
}
.bt-hero-container {
  padding: 0;
  height: 100vh;
}
.bt-hero-container #animating-logo {
  align-self: center;
}
.bt-hero-container .mission-statement {
  align-self: center;
  text-align: center;
}
.scent-options-container {
  margin-top: 50px;
}
.scent-options-container h1 {
  margin-bottom: 5rem;
}
.scent-options {
  display: flex;
  justify-content: center;
}
.scent-options .scent-option {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.scent-options .scent-option .scent-option-img-container {
  width: 100%;
}
.scent-options .scent-option .scent-option-img-container img {
  width: 100%;
}
.scent-options .scent-option .scent-option-name {
  font-weight: bold;
}
.services-container {
  height: 500px;
}
