/* General */
/* NavBar */
body {
  background-color: #7cefd1;
}
.bt-navbar {
  background: #7cefd1;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 3000;
}
.bt-navbar .bt-brand {
  color: #000;
  border: 2px solid black;
  padding: 10px;
}
.bt-navbar .bt-brand:hover {
  color: #7cefd1;
  background-color: black;
}
.bt-navbar ul {
  list-style: none;
  display: flex;
}
.bt-navbar ul li {
  margin-right: 15px;
}
.bt-navbar ul li a {
  color: black;
  border: 2px solid black;
  padding: 10px;
}
.bt-navbar ul li a:hover {
  background-color: black;
  color: #7cefd1;
}
.bt-hero-container {
  padding: 0;
}
.bt-hero-container .hero-bg {
  background-image: url('../images/downtown_beaumont.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.bt-hero-container .hero-bg .mission-statement {
  margin-left: 30px;
  position: absolute;
  background-color: black;
  padding: 10px;
  color: #7cefd1;
}
.about-container {
  margin-top: 50px;
}
.scent-options-container {
  margin-top: 50px;
}
.scent-options {
  display: flex;
  justify-content: space-between;
}
.scent-options .scent-option {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scent-options .scent-option .scent-option-img-container {
  width: 100%;
}
.scent-options .scent-option .scent-option-img-container img {
  width: 100%;
}
.scent-options .scent-option .scent-option-name {
  font-weight: bold;
}
.services-container {
  margin-top: 50px;
}
