.bt-hero-container {
    padding: 0;
    height: 100vh;

    #animating-logo {
      align-self: center;
      width: 600px;

      @media(max-width: 581px){
        width: 400px;
      }
    }

    .mission-statement {
      align-self: center;
      text-align: center;
    }

}

