.bt-navbar {
    background: @navbar-bg;

    .bt-brand {
        color: #000;
        border: 2px solid black;
        padding: 10px;
    }

    ul {
        list-style: none;
        display: flex;
        
        li{ 
            margin-right: 15px;
        }
    }
}

