.bt-navbar {
    background: @navbar-bg;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 3000;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,1);

    @media(max-width: 515px) {
      flex-direction: column;
    }

    .bt-brand {
        color: #000;
        border: 2px solid black;
        padding: 10px;

        @media(max-width: 515px){
          margin-bottom: 15px;
        }

        &:hover {
        }
    }

    .bt-navbar-nav {
        
        flex-direction: row;
        
        li{ 
            margin-right: 15px;
            .nav-link, .nav-link:not([href]) {
                color: black;
                border: 2px solid black;
                padding: 10px;
                text-decoration: none;

                &:hover{
                    background-color: black;
                    color: @mint-green;
                }

                @media(max-width: 400px) {
                  font-size: 0.7rem;
                }
            }

            .nav-link:not([href]) {
              cursor: pointer;
            }
            .active {
              background-color: black;
              color: @mint-green;
            } 
        }
    }
}

