.scent-options-container {
    margin-top: 50px;
}

.scent-options {
    display: flex;
    justify-content: space-between;

    .scent-option {
        width: 200px;
        height: 200px;
        background-color: white;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .scent-option-img-container {
            width: 100%;
            img {
                width: 100%;
            }
        }
    
        .scent-option-name {
            font-weight: bold;
        }
    }
}

